<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} (%t) %-5level [%c{1}] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.springframework.jdbc" level="INFO"/>
        <Logger name="org.apache.ignite" level="INFO"/>
        <Logger name="io.netty" level="INFO"/>
        <Logger name="com.zaxxer.hikari" level="INFO"/>

        <Logger name="com.kaizensundays" level="ALL"/>

        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
